<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jason.dao.UserDao">

    <!--定义接口方法对应的 SQL 语句-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into users(user_name,user_pwd,user_realname,user_img)
        values (#{userName},#{userPwd},#{userRealname},#{userImg})
    </insert>

    <!--定义接口方法对应的 SQL 语句-->
    <insert id="insertUser1">
        insert into details (user_addr,user_tel,user_desc,uid)
        values (#{userAddr},#{userTel},#{userDesc},#{userId})
    </insert>


    <!--<resultMap id="userMap" type="User">-->
        <!--<id column="user_id" property="userId"></id>-->
        <!--<result column="user_name" property="userName"></result>-->
        <!--<result column="user_pwd" property="userPwd"></result>-->
        <!--<result column="user_realname" property="userRealname"></result>-->
        <!--<result column="user_img" property="userImg"></result>-->
        <!--<result column="detail_id" property="detail.detailId"></result>-->
        <!--<result column="user_addr" property="detail.userAddr"></result>-->
        <!--<result column="user_tel" property="detail.userTel"></result>-->
        <!--<result column="user_desc" property="detail.userDesc"></result>-->
    <!--</resultMap>-->

    <resultMap id="userMap" type="User">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_pwd" property="userPwd"></result>
        <result column="user_realname" property="userRealname"></result>
        <result column="user_img" property="userImg"></result>
        <!-- association标签 用于子查询，关联查询一个对象 -->
        <association property="detail" select="com.jason.dao.DetailDao.queryDetailByUserId" column="user_id"></association>
    </resultMap>

    <select id="queryUser" resultMap="userMap">
        select user_id, user_name, user_pwd, user_realname,user_img
        from users
        where user_name = #{username}
    </select>

    <!--<select id="queryUser" resultMap="userMap">-->
        <!--select user_id,user_name,user_pwd,user_realname,user_img,detail_id,user_addr,user_tel,user_desc-->
        <!--from users u-->
        <!--inner join details d-->
        <!--on u.user_id = d.uid-->
        <!--where u.user_name=#{username}-->
    <!--</select>-->

</mapper>
