<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.ClazzDAO">

    <!--定义接口方法对应的 SQL 语句-->
    <resultMap id="ClazzMap" type="Clazz">
        <id column="cid" property="classId"></id>
        <result column="cname" property="className"></result>
        <result column="cdesc" property="classDesc"></result>
        <collection property="stus" select="com.mybatis.dao.StudentDAO.queryStudentByCid" column="cid" fetchType="lazy"></collection>
    </resultMap>

    <select id="queryClassByCid" resultMap="ClazzMap">
      select cid, cname, cdesc
      from class
      where cid=#{cid}
    </select>
</mapper>
